{% load static %}
<!DOCTYPE html>
<html>

<head>
    <title>Car Zone {% block title %}    {% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">

    <!-- External CSS libraries -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/animate.min.css' %} ">
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-submenu.css' %}">

    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-select.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/magnific-popup.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'fonts/font-awesome/css/font-awesome.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'fonts/flaticon/font/flaticon.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'fonts/linearicons/style.css' %}">
    <link rel="stylesheet" type="text/css"  href="{% static 'css/jquery.mCustomScrollbar.css' %}">
    <link rel="stylesheet" type="text/css"  href="{% static 'css/dropzone.css' %}">
    <link rel="stylesheet" type="text/css"  href="{% static 'css/slick.css' %}">
    <link rel="stylesheet" type="text/css"  href="{% static 'css/lightbox.min.css' %}">
    <link rel="stylesheet" type="text/css"  href="{% static 'css/jnoty.css' %}">

    <!-- Custom stylesheet -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" type="text/css" id="style_sheet" href="{% static 'css/skins/red.css' %}">

    <!-- Favicon icon -->
    <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon" >

    <!-- Google fonts -->
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800%7CPlayfair+Display:400,700%7CRoboto:100,300,400,400i,500,700">



    <link rel="stylesheet" type="text/css" href="{% static 'css/ie10-viewport-bug-workaround.css' %}">

    <script  src="{% static 'js/ie-emulation-modes-warning.js' %}"></script>
</head>
<body>
<div class="page_loader"></div>

{% include 'includes/topbar.html' %}

{% include 'includes/navbar.html' %}



{% block content %}


{% endblock %}

<!-- Full Page Search -->
<div id="full-page-search">
    <button type="button" class="close">×</button>
    <form action="{% url 'search' %}" class="search-header">
        <input type="search" value="" placeholder="type keyword(s) here. Eg: audi, benz etc" name='keyword' />
        <button type="submit" class="btn btn-sm button-theme">Search</button>
    </form>
</div>

{% include 'includes/footer.html' %}

<script src="{% static 'js/jquery-2.2.0.min.js' %}"></script>
<script src="{% static 'js/popper.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script  src="{% static 'js/bootstrap-submenu.js' %}"></script>
<script  src="{% static 'js/rangeslider.js' %}"></script>
<script  src="{% static 'js/jquery.mb.YTPlayer.js' %}"></script>
<script  src="{% static 'js/bootstrap-select.min.js' %}"></script>
<script  src="{% static 'js/jquery.easing.1.3.js' %}"></script>
<script  src="{% static 'js/jquery.scrollUp.js' %}"></script>
<script  src="{% static 'js/jquery.mCustomScrollbar.concat.min.js' %}"></script>
<script  src="{% static 'js/dropzone.js' %}"></script>
<script  src="{% static 'js/slick.min.js' %}"></script>
<script  src="{% static 'js/jquery.filterizr.js' %}"></script>
<script  src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
<script  src="{% static 'js/jquery.countdown.js' %}"></script>
<script  src="{% static 'js/jquery.mousewheel.min.js' %}"></script>
<script  src="{% static 'js/lightgallery-all.js' %}"></script>
<script  src="{% static 'js/jnoty.js' %}"></script>
<script  src="{% static 'js/app.js' %}"></script>


</body>

</html>
