{% extends 'base.html' %}

{% block content %}

<!-- Sub banner start -->
<div class="sub-banner overview-bgi">
    <div class="container breadcrumb-area">
        <div class="breadcrumb-areas">
            <h1>Our Car Inventory</h1>
            <ul class="breadcrumbs">
                <li><a href="{% url 'home' %}">Home</a></li>
                <li class="active">Cars</li>
            </ul>
        </div>
    </div>
</div>
<!-- Sub Banner end -->


<!-- Featured car start -->
<div class="featured-car content-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-12">
                <!-- Option bar start -->
                <div class="option-bar clearfix">
                    <div class="row">
                        <div class="col-lg-5 col-md-6 col-sm-12">
                            <div class="sorting-options2">
                                <h5>Showing 1-15 of 69 Listings</h5>
                            </div>
                        </div>
                        <div class="col-lg-7 col-md-6 col-sm-12">
                            <div class="sorting-options float-right">

                                <a href="#" class="change-view-btn active-view-btn float-right"><i class="fa fa-th-large"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <div class="car-box-3">
                            <div class="car-thumbnail">
                                <a href="car-details.html" class="car-img">
                                    <div class="tag">For Rent</div>
                                    <div class="price-box">
                                        <span>$780.00</span>
                                    </div>
                                    <img class="d-block w-100" src="img/car/car-1.jpg" alt="car">
                                </a>
                                <div class="carbox-overlap-wrapper">
                                    <div class="overlap-box">
                                        <div class="overlap-btns-area">
                                            <div class="car-magnify-gallery">
                                                <a href="img/car/car-1.jpg" class="overlap-btn">
                                                    <i class="fa fa-expand"></i>
                                                    <img class="hidden" src="img/car/car-1.jpg">
                                                </a>
                                                <a href="img/car/car-2.jpg" class="hidden" >
                                                    <img class="hidden" src="img/car/car-2.jpg">
                                                </a>
                                                <a href="img/car/car-3.jpg" class="hidden">
                                                    <img class="hidden" src="img/car/car-3.jpg">
                                                </a>
                                                <a href="img/car/car-4.jpg" class="hidden">
                                                    <img class="hidden" src="img/car/car-4.jpg">
                                                </a>
                                                <a href="img/car/car-5.jpg" class="hidden" >
                                                    <img class="hidden" src="img/car/car-5.jpg">
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="detail">
                                <h1 class="title">
                                    <a href="car-details.html">Lamborghini Huracán</a>
                                </h1>
                                <div class="location">
                                    <a href="car-details.html">
                                        <i class="flaticon-pin"></i>123 Kathal St. Tampa City,
                                    </a>
                                </div>
                                <ul class="facilities-list clearfix">
                                    <li>Petrol</li>
                                    <li>4,000 km</li>
                                    <li>Manual</li>
                                    <li>Sport</li>
                                    <li>white</li>
                                    <li>2020</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="car-box-3">
                            <div class="car-thumbnail">
                                <a href="car-details.html" class="car-img">
                                    <div class="tag-2 bg-active">Featured</div>
                                    <div class="price-box">
                                        <span>$940.00</span>
                                    </div>
                                    <img class="d-block w-100" src="img/car/car-6.jpg" alt="car">
                                </a>
                                <div class="carbox-overlap-wrapper">
                                    <div class="overlap-box">
                                        <div class="overlap-btns-area">
                                            <div class="car-magnify-gallery">
                                                <a href="img/car/car-6.jpg" class="overlap-btn" >
                                                    <i class="fa fa-expand"></i>
                                                    <img class="hidden" src="img/car/car-6.jpg" >
                                                </a>
                                                <a href="img/car/car-2.jpg" class="hidden" >
                                                    <img class="hidden" src="img/car/car-2.jpg" >
                                                </a>
                                                <a href="img/car/car-3.jpg" class="hidden">
                                                    <img class="hidden" src="img/car/car-3.jpg" >
                                                </a>
                                                <a href="img/car/car-4.jpg" class="hidden">
                                                    <img class="hidden" src="img/car/car-4.jpg" >
                                                </a>
                                                <a href="img/car/car-1.jpg" class="hidden" >
                                                    <img class="hidden" src="img/car/car-1.jpg" >
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="detail">
                                <h1 class="title">
                                    <a href="car-details.html">Audi Q7 2018</a>
                                </h1>
                                <div class="location">
                                    <a href="car-details.html">
                                        <i class="flaticon-pin"></i>123 Kathal St. Tampa City,
                                    </a>
                                </div>
                                <ul class="facilities-list clearfix">
                                    <li>Petrol</li>
                                    <li>4,000 km</li>
                                    <li>Manual</li>
                                    <li>Sport</li>
                                    <li>white</li>
                                    <li>2020</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="car-box-3">
                            <div class="car-thumbnail">
                                <a href="car-details.html" class="car-img">
                                    <div class="tag">For Rent</div>
                                    <div class="price-box">
                                        <span>$980.00</span>
                                    </div>
                                    <img class="d-block w-100" src="img/car/car-5.jpg" alt="car">
                                </a>
                                <div class="carbox-overlap-wrapper">
                                    <div class="overlap-box">
                                        <div class="overlap-btns-area">
                                            <div class="car-magnify-gallery">
                                                <a href="img/car/car-5.jpg" class="overlap-btn">
                                                    <i class="fa fa-expand"></i>
                                                    <img class="hidden" src="img/car/car-5.jpg" >
                                                </a>
                                                <a href="img/car/car-2.jpg" class="hidden">
                                                    <img class="hidden" src="img/car/car-2.jpg" >
                                                </a>
                                                <a href="img/car/car-3.jpg" class="hidden">
                                                    <img class="hidden" src="img/car/car-3.jpg" >
                                                </a>
                                                <a href="img/car/car-4.jpg" class="hidden">
                                                    <img class="hidden" src="img/car/car-4.jpg" >
                                                </a>
                                                <a href="img/car/car-1.jpg" class="hidden">
                                                    <img class="hidden" src="img/car/car-1.jpg" >
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="detail">
                                <h1 class="title">
                                    <a href="car-details.html">Toyota Prius Specs</a>
                                </h1>
                                <div class="location">
                                    <a href="car-details.html">
                                        <i class="flaticon-pin"></i>123 Kathal St. Tampa City,
                                    </a>
                                </div>
                                <ul class="facilities-list clearfix">
                                    <li>Petrol</li>
                                    <li>4,000 km</li>
                                    <li>Manual</li>
                                    <li>Sport</li>
                                    <li>white</li>
                                    <li>2020</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="car-box-3">
                            <div class="car-thumbnail">
                                <a href="car-details.html" class="car-img">
                                    <div class="tag">For Sale</div>
                                    <div class="price-box">
                                        <span>$105.00</span>
                                    </div>
                                    <img class="d-block w-100" src="img/car/car-3.jpg" alt="car">
                                </a>
                                <div class="carbox-overlap-wrapper">
                                    <div class="overlap-box">
                                        <div class="overlap-btns-area">

                                            <div class="car-magnify-gallery">
                                                <a href="img/car/car-3.jpg" class="overlap-btn">
                                                    <i class="fa fa-expand"></i>
                                                    <img class="hidden" src="img/car/car-3.jpg" >
                                                </a>
                                                <a href="img/car/car-2.jpg" class="hidden">
                                                    <img class="hidden" src="img/car/car-2.jpg" >
                                                </a>
                                                <a href="img/car/car-1.jpg" class="hidden">
                                                    <img class="hidden" src="img/car/car-1.jpg" >
                                                </a>
                                                <a href="img/car/car-4.jpg" class="hidden">
                                                    <img class="hidden" src="img/car/car-4.jpg" >
                                                </a>
                                                <a href="img/car/car-5.jpg" class="hidden" >
                                                    <img class="hidden" src="img/car/car-5.jpg" >
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="detail">
                                <h1 class="title">
                                    <a href="car-details.html">2015 Porsche Cayenne</a>
                                </h1>
                                <div class="location">
                                    <a href="car-details.html">
                                        <i class="flaticon-pin"></i>123 Kathal St. Tampa City,
                                    </a>
                                </div>
                                <ul class="facilities-list clearfix">
                                    <li>Petrol</li>
                                    <li>4,000 km</li>
                                    <li>Manual</li>
                                    <li>Sport</li>
                                    <li>white</li>
                                    <li>2020</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="car-box-3">
                            <div class="car-thumbnail">
                                <a href="car-details.html" class="car-img">
                                    <div class="tag-2 bg-active">Featured</div>
                                    <div class="price-box">
                                        <span>$780.00</span>
                                    </div>
                                    <img class="d-block w-100" src="img/car/car-2.jpg" alt="car">
                                </a>
                                <div class="carbox-overlap-wrapper">
                                    <div class="overlap-box">
                                        <div class="overlap-btns-area">

                                            <div class="car-magnify-gallery">
                                                <a href="img/car/car-2.jpg" class="overlap-btn">
                                                    <i class="fa fa-expand"></i>
                                                    <img class="hidden" src="img/car/car-2.jpg" >
                                                </a>
                                                <a href="img/car/car-1.jpg" class="hidden">
                                                    <img class="hidden" src="img/car/car-1.jpg" >
                                                </a>
                                                <a href="img/car/car-3.jpg" class="hidden">
                                                    <img class="hidden" src="img/car/car-3.jpg" >
                                                </a>
                                                <a href="img/car/car-4.jpg" class="hidden">
                                                    <img class="hidden" src="img/car/car-4.jpg" >
                                                </a>
                                                <a href="img/car/car-5.jpg" class="hidden">
                                                    <img class="hidden" src="img/car/car-5.jpg" >
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="detail">
                                <h1 class="title">
                                    <a href="car-details.html">Lexus GS Red Car</a>
                                </h1>
                                <div class="location">
                                    <a href="car-details.html">
                                        <i class="flaticon-pin"></i>123 Kathal St. Tampa City,
                                    </a>
                                </div>
                                <ul class="facilities-list clearfix">
                                    <li>Petrol</li>
                                    <li>4,000 km</li>
                                    <li>Manual</li>
                                    <li>Sport</li>
                                    <li>white</li>
                                    <li>2020</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="car-box-3">
                            <div class="car-thumbnail">
                                <a href="car-details.html" class="car-img">
                                    <div class="tag">For Sale</div>
                                    <div class="price-box">
                                        <span>$780.00</span>
                                    </div>
                                    <img class="d-block w-100" src="img/car/car-4.jpg" alt="car">
                                </a>
                                <div class="carbox-overlap-wrapper">
                                    <div class="overlap-box">
                                        <div class="overlap-btns-area">

                                            <div class="car-magnify-gallery">
                                                <a href="img/car/car-4.jpg" class="overlap-btn">
                                                    <i class="fa fa-expand"></i>
                                                    <img class="hidden" src="img/car/car-4.jpg" >
                                                </a>
                                                <a href="img/car/car-2.jpg" class="hidden" >
                                                    <img class="hidden" src="img/car/car-2.jpg" >
                                                </a>
                                                <a href="img/car/car-3.jpg" class="hidden" >
                                                    <img class="hidden" src="img/car/car-3.jpg" >
                                                </a>
                                                <a href="img/car/car-1.jpg" class="hidden" >
                                                    <img class="hidden" src="img/car/car-1.jpg" >
                                                </a>
                                                <a href="img/car/car-5.jpg" class="hidden" >
                                                    <img class="hidden" src="img/car/car-5.jpg" >
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="detail">
                                <h1 class="title">
                                    <a href="car-details.html">Toyota Corolla</a>
                                </h1>
                                <div class="location">
                                    <a href="car-details.html">
                                        <i class="flaticon-pin"></i>123 Kathal St. Tampa City,
                                    </a>
                                </div>
                                <ul class="facilities-list clearfix">
                                    <li>Petrol</li>
                                    <li>4,000 km</li>
                                    <li>Manual</li>
                                    <li>Sport</li>
                                    <li>white</li>
                                    <li>2020</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="car-box-3">
                            <div class="car-thumbnail">
                                <a href="car-details.html" class="car-img">
                                    <div class="tag-2 bg-active">Featured</div>
                                    <div class="price-box">
                                        <span>$780.00</span>
                                    </div>
                                    <img class="d-block w-100" src="img/car/car-2.jpg" alt="car">
                                </a>
                                <div class="carbox-overlap-wrapper">
                                    <div class="overlap-box">
                                        <div class="overlap-btns-area">
                                            <div class="car-magnify-gallery">
                                                <a href="img/car/car-2.jpg" class="overlap-btn">
                                                    <i class="fa fa-expand"></i>
                                                    <img class="hidden" src="img/car/car-2.jpg" >
                                                </a>
                                                <a href="img/car/car-1.jpg" class="hidden" >
                                                    <img class="hidden" src="img/car/car-1.jpg" >
                                                </a>
                                                <a href="img/car/car-3.jpg" class="hidden" >
                                                    <img class="hidden" src="img/car/car-3.jpg" >
                                                </a>
                                                <a href="img/car/car-4.jpg" class="hidden" >
                                                    <img class="hidden" src="img/car/car-4.jpg" >
                                                </a>
                                                <a href="img/car/car-5.jpg" class="hidden" >
                                                    <img class="hidden" src="img/car/car-5.jpg" >
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="detail">
                                <h1 class="title">
                                    <a href="car-details.html">Lexus GS Red Car</a>
                                </h1>
                                <div class="location">
                                    <a href="car-details.html">
                                        <i class="flaticon-pin"></i>123 Kathal St. Tampa City,
                                    </a>
                                </div>
                                <ul class="facilities-list clearfix">
                                    <li>Petrol</li>
                                    <li>4,000 km</li>
                                    <li>Manual</li>
                                    <li>Sport</li>
                                    <li>white</li>
                                    <li>2020</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="car-box-3">
                            <div class="car-thumbnail">
                                <a href="car-details.html" class="car-img">
                                    <div class="tag">For Sale</div>
                                    <div class="price-box">
                                        <span>$780.00</span>
                                    </div>
                                    <img class="d-block w-100" src="img/car/car-4.jpg" alt="car">
                                </a>
                                <div class="carbox-overlap-wrapper">
                                    <div class="overlap-box">
                                        <div class="overlap-btns-area">
                                            <div class="car-magnify-gallery">
                                                <a href="img/car/car-4.jpg" class="overlap-btn" >
                                                    <i class="fa fa-expand"></i>
                                                    <img class="hidden" src="img/car/car-4.jpg" >
                                                </a>
                                                <a href="img/car/car-2.jpg" class="hidden" >
                                                    <img class="hidden" src="img/car/car-2.jpg" >
                                                </a>
                                                <a href="img/car/car-3.jpg" class="hidden" >
                                                    <img class="hidden" src="img/car/car-3.jpg" >
                                                </a>
                                                <a href="img/car/car-1.jpg" class="hidden" >
                                                    <img class="hidden" src="img/car/car-1.jpg" >
                                                </a>
                                                <a href="img/car/car-5.jpg" class="hidden" >
                                                    <img class="hidden" src="img/car/car-5.jpg" >
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="detail">
                                <h1 class="title">
                                    <a href="car-details.html">Toyota Corolla</a>
                                </h1>
                                <div class="location">
                                    <a href="car-details.html">
                                        <i class="flaticon-pin"></i>123 Kathal St. Tampa City,
                                    </a>
                                </div>
                                <ul class="facilities-list clearfix">
                                    <li>Petrol</li>
                                    <li>4,000 km</li>
                                    <li>Manual</li>
                                    <li>Sport</li>
                                    <li>white</li>
                                    <li>2020</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Page navigation start -->
                <div class="pagination-box p-box-2 text-center">
                    <nav aria-label="Page navigation example">
                        <ul class="pagination">
                            <li class="page-item">
                                <a class="page-link" href="#"><i class="fa fa-angle-left"></i></a>
                            </li>
                            <li class="page-item"><a class="page-link active" href="#">1</a></li>
                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item">
                                <a class="page-link" href="#"><i class="fa fa-angle-right"></i></a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
            <div class="col-lg-4 col-md-12">
                <div class="sidebar-right">
                    <!-- Advanced search start -->
                    <div class="widget advanced-search2">
                        <h3 class="sidebar-title">Search your desire car</h3>
                        <form method="GET">
                            <div class="form-group">
                                <select class="selectpicker search-fields" name="brand">
                                    <option>Brand</option>
                                    <option>Any</option>
                                    <option>New</option>
                                    <option>Semi-New</option>
                                    <option>Damaged</option>
                                    <option>Used</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <select class="selectpicker search-fields" name="location">
                                    <option>Location</option>
                                    <option>United States</option>
                                    <option>United Kingdom</option>
                                    <option>American Samoa</option>
                                    <option>Belgium</option>
                                    <option>Cameroon</option>
                                    <option>Canada</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <select class="selectpicker search-fields" name="year">
                                    <option>Year</option>
                                    <option>2016</option>
                                    <option>2017</option>
                                    <option>2018</option>
                                    <option>2019</option>
                                    <option>2020</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <select class="selectpicker search-fields" name="category">
                                    <option>Category</option>
                                    <option>Luxury Car</option>
                                    <option>Pickup Truck</option>
                                    <option>Minivan</option>
                                    <option>Truck</option>
                                    <option>Sports Car</option>
                                    <option>Wagon</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <select class="selectpicker search-fields" name="transmission">
                                    <option>Transmission</option>
                                    <option>Automatic</option>
                                    <option>Manual</option>
                                    <option>Tiptronic</option>
                                </select>
                            </div>
                            <div class="range-slider clearfix">
                                <label>Price</label>
                                <div data-min="0" data-max="150000"  data-min-name="min_price" data-max-name="max_price" data-unit="USD" class="range-slider-ui ui-slider" aria-disabled="false"></div>
                                <div class="clearfix"></div>
                            </div>
                            <div class="form-group mb-0">
                                <button class="search-button btn">Search</button>
                            </div>
                        </form>
                    </div>

                    <!-- Question start -->
                    <div class="widget question widget-3">
                        <h5 class="sidebar-title">Follow us</h5>
                        <div class="social-list clearfix">
                            <ul>
                                <li><a href="#" class="facebook-bg"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#" class="twitter-bg"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#" class="google-bg"><i class="fa fa-google-plus"></i></a></li>
                                <li><a href="#" class="rss-bg"><i class="fa fa-rss"></i></a></li>
                                <li><a href="#" class="linkedin-bg"><i class="fa fa-linkedin"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Featured car end -->

{% endblock %}
